<!doctype html>

<html>
<head>
	<title>LIFTR</title>	
	<meta charset="utf-8">
	<meta name = "viewport" content="width=device-width, initial-scale=1.0">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link href="/css/bootstrap.min.css" rel="stylesheet">
	<link href="/css/bootstrap-theme.min.css" rel="stylesheet">
	<link href="/css/introHCI.css" rel="stylesheet">
      
</head>

<body>
	<div class="container">
		<a href="javascript:history.back()">
			<img width="60px" align="left" class="leftImage" src="images/back_arrow.png">
		</a>
		<div class="jumbotron" style="z-index: -1">
			<h3 class="title">LIFTR</h3>
		</div>
		
<div class="progressbar-wrapper">
      <ul class="progressbar">
          <li class="active">Step 1</li>
          <li>Step 2</li>
          <li>Step 3</li>
      </ul>
</div>

<br>
<br>
<br>
<br>
		<div class="timeQuestion">
			<h2>When are you planning on working out?</h2>
			<br>
         	<select name="dropdown" style="width: 250px; font-size: 30px;">
            	<option value = "none">--Please select--</option>
				<option value = "now">Now</option>
            	<option value = "oneTwo">in 1-2 hours</option>
				<option value = "twoFour">in 2-4 hours</option>
				<option value = "fourEight">in 4-8 hours</option>
				<option value = "eightSixteen">in 8-16 hours</option>
         	</select>
		</div>

		<br>
		<br>
		<br>
		<br>
		<br>

		<div id="addPostBtn" style="text-align: center;">
			<a href="add-post2"><button class="button1" name="continueButton">Continue</button></a>
		</div>
	
	</div>

	<script src="https://code.jquery.com/jquery-1.11.0.js"></script>
	<script src="js/bootstrap.js"></script>
	<script src="js/bootstrap.min.js"></script>
</body>
</html>
