<!doctype html>

<html>
<head>
	<title>LIFTR</title>	
	<meta charset="utf-8">
	<meta name = "viewport" content="width=device-width, initial-scale=1.0">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link href="/css/bootstrap.min.css" rel="stylesheet">
	<link href="/css/bootstrap-theme.min.css" rel="stylesheet">
	<link href="/css/introHCI.css" rel="stylesheet">
      
</head>

<body>
	<div class="grad">
		<div class="container">
			<a href="javascript:history.back()">
				<img width="60px" align="left" class="leftImage" src="images/back_arrow.png">
			</a>
			<div class="jumbotron" style="z-index: -1">
				<h3 class="title">LIFTR</h3>
			</div>
			
			<div class="progressbar-wrapper">
				<ul class="progressbar">
					<li>Step 1</li>
					<li>Step 2</li>
					<li class="active">Step 3</li>
				</ul>
			</div>

			<br>
			<br>
			<br>
			<br>
			
			<form label="skill" action="/fullAdder">
			<h2 id="AllPosts">What is the expertise level of your desired partner:</h2>
			<div class="form-group">
				<label for="name"></label>

				<br>
				
				<select method="get" label="skill" action="/fullAdder" name="dropdown" class="dropdown" style="width: 250px; font-size: 30px;">
					<option value = "none">--Please select--</option>
					<option style="color: #e7eaed;" value = "novice">Novice</option>
					<option style="color: #6c7e90;" value = "intermediate">Intermediate</option>
					<option style="color: black;" value = "expert">Expert</option>
				</select>
			</div>

			<br>
			<br>
			<br>

			<div id="addPostBtn">
				<input type="submit" class="button1" name="pls" value="Continue!"></input>
			</div>
		
		</div>

		<br>
		<br>
		<br>
		<br>
		<br>
		<br>
		<br>
		<br>
		<br>
		<br>

	</div>

	<script src="https://code.jquery.com/jquery-1.11.0.js"></script>
	<script src="js/bootstrap.js"></script>
	<script src="js/bootstrap.min.js"></script>
	<script src="js/hci-friends.js"></script>
</body>
</html>
