<!doctype html>

<html>
<head>
	<title>LIFTR</title>	
	<meta charset="utf-8">
	<meta name = "viewport" content="width=device-width, initial-scale=1.0">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link href="/css/bootstrap.min.css" rel="stylesheet">
	<link href="/css/bootstrap-theme.min.css" rel="stylesheet">
	<link href="/css/introHCI.css" rel="stylesheet">
      
</head>

<body>
	<div class="grad">

		<img onclick="history.back()" width="80px" align="left" style="margin-left: 0px;"
			class="leftImage" src="images/back_arrow.png">

		<div class="container">
			<div class="jumbotron" style="z-index: -1">
				<h3 class="title">LIFTR</h3>
			</div>
			

			<div class="progressbar-wrapper">
				<ul class="progressbar">
					<li class="active"></li>
					<li></li>
					<li></li>
				</ul>
			</div>

			<br>
			<br>
			<br>
			<br>
			<div class="container">	
				<form label="skill" action="/addPostOne" style="text-align: center;">
					<h2 class="WhenWork" style="text-align:center" id="AllPosts">When are you planning on working out?</h2>
					<br>
					<select method="get" label="skill" id="timeQuestion" action="/addPostOne"
						class="dropdown" name="dropdown" style="width: 250px; font-size: 30px;">
						<option value = "none">--Please select--</option>
						<option value = "now">Now</option>
						<option value = "in 1-2 hours">in 1-2 hours</option>
						<option value = "in 2-4 hours">in 2-4 hours</option>
						<option value = "in 4-8 hours">in 4-8 hours</option>
						<option value = "in 8-16 hours">in 8-16 hours</option>
					</select>
					
					<br>
					<br>
					<br>
					<br>
					<br>
					<input type="submit" class="button1"
						id="buttonWhen" name="pls" value="Continue!"></input>
				</form>

		</div>

		<br>
		<br>
		<br>
		<br>
		<br>
		<br>
		<br>
		<br>
		<br>
		<br>

	</div>

	<script src="https://code.jquery.com/jquery-1.11.0.js"></script>
	<script src="js/bootstrap.js"></script>
	<script src="js/bootstrap.min.js"></script>
	<script src="js/hci-friends.js"></script>
</body>
</html>
