<!doctype html>

<html>
<head>
	<title>LIFTR</title>	
	<meta charset="utf-8">
	<meta name = "viewport" content="width=device-width, initial-scale=1.0">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link href="/css/bootstrap.min.css" rel="stylesheet">
	<link href="/css/bootstrap-theme.min.css" rel="stylesheet">
	<link href="/css/introHCI.css" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css?family=Lato&display=swap" rel="stylesheet">
      
		<!-- Google Analytics -->
<script>
(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
})(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

ga('create', 'UA-159550550-1', 'auto');
ga('require', 'GTM-T3KD75G');
ga('send', 'pageview');
</script>
<!-- End Google Analytics -->

</head>

<body>
	<div class="grad">
	
		<img onclick="history.back()" width="80px" align="left" style="margin-left: 0px;"
			class="leftImage" src="images/back_arrow.png">

		<div class="container">

			<br>
			<br>
			<br>
				<h3 class="title">LIFTR</h3>
			
			<br>
			<br>

			<div id="nameInfo">
				<form label="firstName" method="get" action="/user">
					<h2 id="AllPoststext" class="firstNameT">First name:</h2>
					<input type="text" id="login" class="firstName"size="18px" placeholder="{{firstName}}"
						name="firstName" value="" maxlength="15" />
				
				<br>

				<form method="get" action="/user" label="lastName">
					<h2 id="AllPoststext" class="lastNameT">Last name:</h2>
					<input type="text" id="login" class="lastName" size="18px" placeholder="{{lastName}}"
						name="lastName" value="" maxlength="15" />

				<br>

				<form method="get" action="/user" label="phoneNumber">
					<h2 id="AllPoststext" class="phoneNumberT">Phone Number:</h2>
					<input type="text" id="login" class="phoneNumber" size="18px" placeholder="{{lastName}}"
						name="phoneNumber" value="" maxlength="15" />
			</div>
			
			<br>
			<br>

				
			<form label="skill" action="/user">
			
				<br>
				<br>
				<br>
				<br>

				<div id="saveBtn">
				<input class="button1" id="saveUser" name = "user2"
					type="submit" value="Save and Continue"></input>
				</div>
			</form>

		</div>
		<br>
		<br>
		<br>
		<br>
		<br>
		<br>
		<br>
		<br>
		<br>
		<br>
		<br>
	</div>

	<script src="https://code.jquery.com/jquery-1.11.0.js"></script>
	<script src="js/bootstrap.js"></script>
	<script src="js/bootstrap.min.js"></script>
	<script src="js/hci-friends.js"></script>
</body>
</html>
