<!doctype html>

<html>
<head>
	<title>LIFTR</title>	
	<meta charset="utf-8">
	<meta name = "viewport" content="width=device-width, initial-scale=1.0">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link href="/css/bootstrap.min.css" rel="stylesheet">
	<link href="/css/bootstrap-theme.min.css" rel="stylesheet">
	<link href="/css/introHCI.css" rel="stylesheet">
      
</head>

<body>
	<div class="grad">
	<div class="container">
		<div class="jumbotron">
		</div>

	<a onclick="history.back()">
		<img width="60px" align="left" class="leftImage" src="images/back_arrow.png">
	</a>
			<h3 class="title">LIFTR</h3>
		
		<div id="nameInfo">
			<form label="firstName" method="get" action="/user">
				<h2 id="AllPosts">First name:</h2>
				<input type="text" id="login" size="18px" placeholder="{{firstName}}"
					name="firstName" value="" maxlength="15" />
			
			<br>

			<form method="get" action="/user" label="lastName">
				<h2 id="AllPosts">Last name:</h2>
				<input type="text" id="login" size="18px" placeholder="{{lastName}}"
					name="lastName" value="" maxlength="15" />
		</div>
		
		<br>
		<br>

			
		<form label="skill" action="/user">
			<div class="skillLevel">
			<h2 id="AllPosts" style="float: left;">Skill Level: &ensp;</h2>
			</div>
			<br>
			<select name="dropdown" id="login" class="dropdown" class="skillLevel" style="height: 32px;">
				<option value="none">--Please select--</option>
				<option style="color: #e7eaed;" value="Novice">Novice</option>
				<option style="color: #6c7e90;" value="Intermediate">Intermediate</option>
				<option style="color: black;" value="Expert">Expert</option>
			</select>
			
			<br>
			<br>
			<br>
			<br>
			<br>

			<div id="saveBtn">
			 <input style="border: 1.2px solid #222222; border-radius: 8px;
			 	background-color: #3eebeb;" type="submit" value="Save!"></input>
			</div>
      	</form>

	</div>
	<br>
	<br>
	<br>
	<br>
	<br>
	<br>
	<br>
	<br>
	<br>
	</div>

	<script src="https://code.jquery.com/jquery-1.11.0.js"></script>
	<script src="js/bootstrap.js"></script>
	<script src="js/bootstrap.min.js"></script>
</body>
</html>
