<!doctype html>

<html>
<head>
	<title>LIFTR</title>	
	<meta charset="utf-8">
	<meta name = "viewport" content="width=device-width, initial-scale=1.0">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link href="/css/bootstrap.min.css" rel="stylesheet">
	<link href="/css/bootstrap-theme.min.css" rel="stylesheet">
	<link href="/css/introHCI.css" rel="stylesheet">
	{{> facebook}}
	<script src="https://code.jquery.com/jquery.js"></script>
	<script src="/js/hci-friends.js"></script>
	<script src="/js/bootstrap.min.js"></script>
	<script src="/js/facebook.js"></script>
      
</head>

<body>
	<div class="container">
		<div class="jumbotron">
			<h3 class="title">LIFTR</h3>
		</div>

		<h1 style="text-align: center;">Create an Account:</h1>

		<h4 class="facebookLogin">Please login through Facebook to connect with fellow Liftr's!</h4>
			<fb:login-button id="fbLog" scope="public_profile,email" onlogin="checkLoginState();">
			</fb:login-button>

		<div id="loginContinue" style="text-align: center;">
			<a href="create-profile"><button id="loginContinue" name="saveButton">Continue!</button></a>
		</div>

		<br>
		<br>

		<div class="createAccountInfo">
			<h4 id="loginDetails" style="text-align: center;">Or create an account to access Liftr
			to connect with fellow Liftr's!</h4>

			<div action="/html/tags/html_form_tag_action.cfm" method="get" style="text-align: center;">
				User Name: &ensp;
				<input type="text" id="login" name="user_name" value="" maxlength="50" />
			</div>

			<br>

			<div action="/html/tags/html_form_tag_action.cfm" method="get" style="text-align: center;">
				Password: &ensp;
				<input type="password" id="login" name="password" value="" maxlength="50" />
			</div>
		</div>

		<br>
		<br>
		<br>

		<div id="buttonSave" style="text-align: center;">
			<a href="create-profile" ><button name="saveButton">Continue!</button></a>
		</div>
	
	</div>

	<script src="https://code.jquery.com/jquery-1.11.0.js"></script>
	<script src="js/bootstrap.js"></script>
	<script src="js/bootstrap.min.js"></script>
</body>
</html>
