<!doctype html>

<html>
<head>
	<title>LIFTR</title>	
	<meta charset="utf-8">
	<meta name = "viewport" content="width=device-width, initial-scale=1.0">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link href="/css/bootstrap.min.css" rel="stylesheet">
	<link href="/css/bootstrap-theme.min.css" rel="stylesheet">
	<link href="/css/introHCI.css" rel="stylesheet">
	<!-- this is a comment in HTML -->

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
    <![endif]-->        
</head>

<body>

  <h4 class="theHead">  <a href= "notDone"><img width="50px" class="rightImage" align="right" src="images/telegramBoi.jpg"> </a></a>
  <a href="javascript:history.back()"> <img width="50px" align="left" class="leftImage" src="images/leftArrow.jpg"> </a> Potential Partner</h4> 
	<h4 class="theHead">Antonio Simp</h4>

  <hr>
  <hr>
  <div class="important">
    <p>Skill Level: Novice <img width="130px" class="rightImage" align="right" src="images/antoniosBombSelfie.jpg"> </p>
    <p>Preferred Gym: RIMAC</p>
  </div>
  <hr>

  <div class="details">
    <p>Wants to Learn:
       <img width="140px" height="100px" class="rightImage" align="right" src="images/calendarPic.png">
    </p>
    <h4>Bench press, squat, and bicep curl</h4> 
  </div>

  <div class="details">
    <hr>
    <p>Hobbies:</p>
    <h4>Flying drones, card magic, simping around, studying political science, jiu-jistu, and hopefully working out!</h4> 
  </div>

  <div class="toolbar-2">
    <button><a href= "notDone">Add Comment</button></a>
    <p align="right"> whats up </p>
    <p align="right"> What protein powder do u use? </p>
	</div>

  <!-- the bottom of the page -->
	<div class="toolbar">
		<button class="toolbar-messages"><a href= "notDone" class="toolbar-messages">
			Messages
		</a></button>
	 <button class="toolbar-feed"> <a href="javascript:history.back()" class="toolbar-feed">
			Feed
		</a></button>
		<button class="toolbar-profile"><a href= "notDone" class="toolbar-profile">
			Profile
		</a></button>
	</div>

	<script src="https://code.jquery.com/jquery.js"></script>
	<script src="/js/bootstrap.min.js"></script>
</body>
</html>
