<!doctype html>

<html>
<head>
	<title>LIFTR</title>	
	<meta charset="utf-8">
	<meta name = "viewport" content="width=device-width, initial-scale=1.0">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link href="/css/bootstrap.min.css" rel="stylesheet">
	<link href="/css/bootstrap-theme.min.css" rel="stylesheet">
	<link href="/css/introHCI.css" rel="stylesheet">
	{{> facebook}}
	<script src="https://code.jquery.com/jquery.js"></script>
	<script src="/js/hci-friends.js"></script>
	<script src="/js/bootstrap.min.js"></script>
	<script src="/js/facebook.js"></script>
      
	<!-- Google Analytics -->
	<script>
		(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
		(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
		m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
		})(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

		ga('create', 'UA-158827415-1', 'auto');
		ga('send', 'pageview');
	</script>
	<!-- End Google Analytics -->

</head>

<body>
	<div class="grad">
		<div class="container">
			<div class="jumbotron">
				<h3 class="title">LIFTR</h3>
			</div>

			<h1 style="text-align: center;">Create a Liftr Account:</h1>

			<br>

			<div class="createAccountInfo">
				<h4 id="loginDetails" style="text-align: center;">Create a Liftr account to
				to connect with fellow Liftr's!</h4>

				<div action="/html/tags/html_form_tag_action.cfm" method="get" style="text-align: center;">
					User Name: &ensp;
					<input type="text" id="login" name="user_name" value="" maxlength="50" />
				</div>

				<br>

				<div action="/html/tags/html_form_tag_action.cfm" method="get" style="text-align: center;">
					Password: &ensp;
					<input type="password" id="login" name="password" value="" maxlength="50" />
				</div>

				<br>

				<div action="/html/tags/html_form_tag_action.cfm" method="get" style="text-align: center;">
					Confirm Password: &ensp;
					<input type="password" id="login" name="password" value="" maxlength="50" />
				</div>
			</div>

			<br>
			<br>

			<div id="buttonSave" style="text-align: center;">
				<a href="create-profile"><button name="saveButton"
				style="border: 1.2px solid #222222; border-radius: 8px;
					background-color: #3eebeb;" > Continue! </button></a>
			</div>

			<br>
			<br>
			<br>
		
		</div>
	</div>

	<script src="https://code.jquery.com/jquery-1.11.0.js"></script>
	<script src="js/bootstrap.js"></script>
	<script src="js/bootstrap.min.js"></script>
	
</body>
</html>
