<!doctype html>

<html>
<head>
	<title>LIFTR</title>	
	<meta charset="utf-8">
	<meta name = "viewport" content="width=device-width, initial-scale=1.0">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link href="/css/bootstrap.min.css" rel="stylesheet">
	<link href="/css/bootstrap-theme.min.css" rel="stylesheet">
	<link href="/css/introHCI.css" rel="stylesheet">
      
</head>

<body>
	<div class="container">
		 <a href="javascript:history.back()"> <img width="60px" align="left" class="leftImage" src="images/back_arrow.png"> </a> 

		<pre style="background-color: rgb(161, 240, 124);">
			<h1 style="text-align: center; font-weight: bold">Antonio Simp</h1>
		</pre>

		<br>
		<br>
		<br>

		<div action="/html/tags/html_form_tag_action.cfm" method="get" style="text-align: center; font-size: 30px;">
			Message: &ensp;
			<input type="text" name="user_name" size="18px" maxlength="50"/>
		</div>
		
		<br>
		<br>
		<br>
		<br>

		<div id="sendMsg">
			<a href="view-messages"><button name="sendMessage">Send Message!</button></a>
		</div>

		<!-- the bottom of the page -->
	<div class="toolbar">
		<button class="toolbar-messages"><a href= "view-messages" class="toolbar-messages">
			Messages
		</a></button>
		<button class="toolbar-feed"><a href= "add-post" class="toolbar-feed">
			Add Post
		</a></button>
		<button class="toolbar-home"><a href= "index" class="toolbar-home">
			Home
		</a></button>
		<button class="toolbar-profile"><a href= "create-profile" class="toolbar-profile">
			Profile
		</a></button>
	</div>
	
	</div>

	<script src="https://code.jquery.com/jquery-1.11.0.js"></script>
	<script src="js/bootstrap.js"></script>
	<script src="js/bootstrap.min.js"></script>
</body>
</html>
