/* applies to anything of class "example-class-selector" */
.example-class-selector {
	margin-top: 2em;
}

/* applies to any <p> descendants of an element of class "example-class-selector" */
.example-class-selector p {
	/* Colors are in hexadecimal: http://www.colorpicker.com/ */	
	color: #CC00AA;
}

.jumbotron {
	position: relative;
     background: none;
}

.jumbotron:after {
     content:"";
     background: url("../images/gym.jpg");
     opacity: 0.4;
     top: 0;
     left: 0;
     bottom: 0;
     right: 0;
     position: absolute;
     z-index: -1;	
}

.jumbotron p {
     color: #6e6e6e;
}

.posts a{
     /*color: magenta;*/
     font-size: 50px;
     border-spacing: 100;
}

.posts {
     border-spacing: 100px;
}


.title {
     font-weight: bold;
     text-align: center;
     font-size: 120px;
     text-transform: capitalize;
}

.toolbar
{
     position: fixed;
     width: 100%;
     height: 100px;
     bottom: 0;
     left: 0;
     padding: 5px 10px; /* some styling, please note overall height of the object will be 35px due to 5px padding on top/bottom. */
     background: #ccc; /* some styling */
     border-bottom: 1px solid #333; /* some styling */
}

.toolbar-messages
{
     width: 33%;
     height: 100%;
     background-color: rgb(161, 240, 124);
     font-size: 60px;
}

.toolbar-addPost
{
     width: 33%;
     height: 100%;
     background-color: rgb(101, 101, 236);
     font-size: 60px;
}

.toolbar-profile
{
     width: 33%;
     height: 100%;
     background-color: rgb(228, 97, 97);
     font-size: 60px;
}

.theHead
{
     color: red;
     text-align: center;
     font-size: 100px;
}

.details
{
     color: blue;
     text-align: center;
     font-size: 80px;
}