
.jumbotron {
	position: relative;
     background: none;
}

.jumbotron:after {
     content:"";
     background: url("../images/gym.jpg");
     opacity: 0.4;
     top: 0;
     left: 0;
     bottom: 0;
     right: 0;
     position: absolute;
     z-index: -1;	
}

.jumbotron p {
     color: #6e6e6e;
}

.posts a{
     font-size: 50px;
     border-spacing: 100;
}

.posts h3 {
     border-spacing: 100px;
     font-size: 20px;
}

.title {
     font-weight: bold;
     text-align: center;
     font-size: 90px;
     text-transform: capitalize;
}

.toolbar
{
     width: 100%;
     height: 100px;
     bottom: 0;
     left: 0;
     padding: 5px 10px; /* some styling, please note overall height of the object will be 35px due to 5px padding on top/bottom. */
     background: #ccc; /* some styling */
     border-bottom: 1px solid #333; /* some styling */
     position: fixed;
     border-radius: 10px; /* 25px rounded corners */
     border: 1px solid #222222;
}

.toolbar-filter
{
     width: 32.5%;
     height: 100%;
     background-color: rgb(126, 126, 231);
     font-size: 20px;
     color: black;
     text-decoration: none;
     border: 1px solid #222222;
     border-radius: 15px; /* 25px rounded corners */
}

.toolbar-profile
{
     width: 32.5%;
     height: 100%;
     background-color: rgb(241, 129, 129);
     font-size: 20px;
     text-decoration: none;
     color: black;
     border: 1px solid #222222;
     border-radius: 15px; /* 25px rounded corners */
     
}

.toolbar-home
{
     width: 32.5%;
     height: 100%;
     background-color: rgb(170, 241, 243);
     font-size: 20px;
     text-decoration: none;
     color: black;
     border: 1px solid #222222;
     border-radius: 15px; /* 25px rounded corners */
}

.theHead
{
     color: black;
     font-weight: bold;
     text-align: center;
     font-size: 30px;
}

.important
{
     color: black;
     text-align: center;
     font-size: 30px;
}

.details
{
     color: black;
     font-size: 30px;
     margin-left: 10px;
}

.leftImage
{
     margin-left: 10px;
}

.rightImage
{
     margin-right: 10px;
}

.rightText
{
     margin-right: 55px;
}

#outer
{
     font-size: 18px;
     widows: 100%;
     text-align: center;
}

#outer2
{
     font-size: 18px;
     widows: 100%;
     text-align: center;
}

.RIMAC
{
     display: inline-block;
     margin-inline-end: 30px;
}

.skill
{
     display: inline-block;
     margin-inline-end: 5px;
}

#button
{
     text-align: center;
     font-size: 30px;
     border: 2px solid #222222;
}

#addPostForm #addPostBtn
{
     text-align: center;
     font-size: 40px;
     border-radius: 15px; /* 25px rounded corners */
     border: 2px solid #222222;
}

#saveBtn
{
     text-align: center;
     font-size: 35px;
     border-radius: 8px; /* 25px rounded corners */
}

#sendMsg
{
     text-align: center;
     font-size: 35px;
     border-radius: 25px; /* 25px rounded corners */
}

#loginDetails
{
     font-size: 25px;    
}

#nameInfo
{
     font-size: 30px;
}

.postDetails
{
     font-size: 18px;
}

#contactInfo
{
     font-size: 30px;
}

.createAccountInfo
{
     font-size: 25px;
}

.progressbar-wrapper {
     background: #fff;
     width: 100%;
     padding-top: 10px;
     padding-bottom: 5px;
     padding-left: 50px;
}

.progressbar li {
     list-style-type: none;
     width: 20%;
     float: left;
     font-size: 12px;
     position: relative;
     text-align: center;
     text-transform: uppercase;
     color: #7d7d7d;
}
.progressbar li:before {
     width: 40px;
     height: 40px;
     content: "";
     line-height: 40px;
     border: 2px solid #7d7d7d;
     display: block;
     text-align: center;
     margin: 0 auto 3px auto;
     border-radius: 50%;
     position: relative;
     z-index: 2;
     background-color: #fff;
 }
 .progressbar li:after {
      width: 100%;
      height: 2px;
      content: '';
      position: absolute;
      background-color: #7d7d7d;
      top: 20px;
      left: -50%;
      z-index: 0;
 }
 .progressbar li:first-child:after {
      content: none;
 }

 .progressbar li.active {
     color: green;
     font-weight: bold;
 }
 .progressbar li.active:before {
     border-color: #55b776;
     background: green;
  }
 .progressbar li.active + li:after {
     background-color: #55b776;
 }
 .progressbar li.active:before {
     background: #55b776  url(user.svg) no-repeat center center;
     background-size: 60%;
 }
 .progressbar li::before {
     background: #fff url(user.svg) no-repeat center center;
     background-size: 60%;
 }
 .progressbar {
     counter-reset: step;
 }
 .progressbar li:before {
     content: counter(step);
     counter-increment: step; 
 }

 .button1 {
     background-color:#55b776;
     width: 200px;
     height: 50px;
     margin-left: 75px;
     border: 2px solid #222222;
 }

.facebookLogin
{
     text-align: center;
}

#buttonSave
{
     font-size: 28px;
}

#submitBtn
{
     font-size: 20px;
     margin-left:10px;
     border-radius: 8px; /* 25px rounded corners */
     border: 1px solid #777777;
}

.card {
     /* Add shadows to create the "card" effect */
     box-shadow: 10px 15px 20px 0 rgba(0,0,0,0.2);
     transition: 0.3s;
     border-radius: 25px; /* 25px rounded corners */
     background-color: rgba(225, 225, 225, 1);
     min-width: 300px;
}
   
/* On mouse-over, add a deeper shadow */
.card:hover {
     box-shadow: 0 20px 30px 0 rgba(0,0,0,0.4);
}

img {
     /* Add rounded corners to the top left
     and the top right corner of the image
     border-radius: 8px 20px 8px 8px; */
     margin-right: 10px;
}

textarea
{
     border: 2px solid #222222;
     max-width: 355px;
     border-radius: 8px; /* 25px rounded corners */
}

#login
{
     border: 2px solid #222222;
     border-radius: 5px;
}

.card1 {
     color: black;
     /* Add shadows to create the "card" effect */
     box-shadow: 5px 5px 10px 0 rgba(0,0,0,0.2);
     border-radius: 15px; /* 25px rounded corners */
     background-color: rgba(235, 235, 235, 1);
     max-width: 350px;
     margin-left: auto;
     margin-right: auto;
}

.card2 {
     color: black;
     /* Add shadows to create the "card" effect */
     box-shadow: 5px 5px 10px 0 rgba(0,0,0,0.2);
     border-radius: 15px; /* 25px rounded corners */
     background-color: rgba(235, 235, 235, 1);
     max-width: 300px;
     margin-left: auto;
     margin-right: auto;
}

.card3 {
     color: black;
     /* Add shadows to create the "card" effect */
     box-shadow: 5px 5px 10px 0 rgba(0,0,0,0.2);
     border-radius: 15px; /* 25px rounded corners */
     background-color: rgba(235, 235, 235, 1);
     max-width: 240px;
     margin-left: auto;
     margin-right: auto;
}

.addPostSuggestion1
{
     margin-left: 38px;
}

.addPostSuggestion2
{
     margin-left: 137px;
}

#title
{
     border-radius: 10px;
}
