@import url('https://fonts.googleapis.com/css?family=Fredoka+One&display=swap');

.jumbotron {
     background: none;
}

.jumbotron p {
     color: #6e6e6e;
}

.posts a{
     font-size: 50px;
     border-spacing: 100;
}

.posts h3 {
     border-spacing: 100px;
     font-size: 20px;
}

.title {
     font-weight: bold;
     text-align: center;
     font-size: 90px;
     text-transform: capitalize;
     font-family: 'Lato';
     color:white;
}

#accountText{
     color:white;
     font-family: 'Lato';
     font-size: 25px;
}

#AllPoststext{
     color:white;
     font-family: 'Lato';
     font-size: 30px;
}

#AllPoststitle{
     color:white;
     font-family: 'Lato';
     font-size: 35px;
}

#AllPosts{
     font-family: 'Lato';
     color:black;
     text-align: left;
}

.toolbar
{
     width: 100%;
     height: 70px;
     bottom: 0;
     left: 0;
     background-color: #DADDD8;
     padding: 5px 10px; /* some styling, please note overall height of the object will be 35px due to 5px padding on top/bottom. */
     border-bottom: 1px solid #333; /* some styling */
     position: fixed;
}

.toolbar-filter
{
     width: 32.5%;
     height: 100%;
     background-color:transparent; 
     font-size: 24px;
     color: black;
     text-decoration: none;
     border-radius: 15px; /* 25px rounded corners */
     border: transparent;
}

.bottomBorder{
     margin-bottom: 5px;
}

.toolbar-profile
{
     width: 32.5%;
     height: 100%;
     background-color: transparent ; 
     font-size: 24px;
     text-decoration: none;
     color: black;
     border-radius: 15px; /* 25px rounded corners */
     border: transparent;
     
}

.toolbar-home
{
     width: 32.5%;
     height: 100%;
     background-color: transparent;
     font-size: 24px;
     text-decoration: none;
     color: black;
     border-radius: 15px; /* 25px rounded corners */
     border: transparent;
}

.theHead
{
     color: black;
     font-weight: bold;
     text-align: center;
     font-size: 38px;
     font-family: 'Lato';
}

.important
{
     color: black;
     text-align: center;
     font-size: 30px;
     font-family: 'Lato';
}

.details
{
     color: black;
     font-size: 30px;
     margin-left: 10px;
}

.leftImage
{
     margin-left: 10px;
}

.rightImage
{
     margin-right: 10px;
}

.rightText
{
     margin-right: 55px;
}

#outer
{
     font-size: 18px;
     widows: 100%;
     text-align: center;
}

#outer2
{
     font-size: 18px;
     widows: 100%;
     text-align: center;
}

.RIMAC
{
     display: inline-block;
     margin-inline-end: 30px;
}

.skill
{
     display: inline-block;
     margin-inline-end: 5px;
}

#button
{
     text-align: center;
     font-size: 30px;
     border: 2px solid #222222;
}

#addPostForm #addPostBtn
{
     text-align: center;
     font-size: 40px;
     border-radius: 15px; /* 25px rounded corners */
     border: 2px solid #222222;
}

#saveBtn
{
     text-align: center;
     font-size: 35px;
     border-radius: 8px; /* 25px rounded corners */
}

#saveUser
{
     min-width: 342px;
}

#sendMsg
{
     text-align: center;
     font-size: 35px;
     border-radius: 25px; /* 25px rounded corners */
}

#loginDetails
{
     font-size: 25px;    
}

#nameInfo
{
     font-size: 30px;
     color:white;
}

.postDetails
{
     font-size: 18px;
}

.container{
     color:black;
}

#contactInfo
{
     font-size: 30px;
}

.createAccountInfo
{
     font-size: 25px;
}

.progressbar-wrapper {
     width: 90%;
     padding-top: 10px;
     padding-bottom: 5px;
}

.progressbar li {
     list-style-type: none;
     width: 33%;
     float: left;
     font-size: 35px;
     position: relative;
     text-align: center;
     text-transform: uppercase;
     color: #5c5b5b;
}
.progressbar li:before {
     width: 70px;
     height: 70px;
     content: "";
     line-height: 60px;
     border: 2px solid #7d7d7d;
     display: block;
     text-align: center;
     margin: 2px auto 3px auto;
     border-radius: 50%;
     position: relative;
     z-index: 2;
     background-color: #fff;
 }
 .progressbar li:after {
      width: 100%;
      height: 4px;
      content: '';
      position: absolute;
      background-color: #504f4f;
      top: 35px;
      left: -50%;
      z-index: 0;
}

.progressbar li:first-child:after {
      content: none;
}

.facebook {
     width: 500px !important
}

.progressbar li.active {
     color: black;
     font-weight: bold;
}

 .progressbar li.active:before {
     border-color: black;
     background: #A9CEF4;
}

.progressbar li.active + li:after {
     background-color: #A9CEF4;
 }
 .progressbar li.active:before {
     background: #A9CEF4 no-repeat center center;
     background-size: 60%;
 }
 .progressbar li::before {
     background: #fff no-repeat center center;
     background-size: 60%;
}

.progressbar {
     counter-reset: step;
}

.progressbar li:before {
     content: counter(step);
     counter-increment: step;
}

.button1 {
     background-color:#A9CEF4;
     text-align: center;
     width: 200px;
     height: 50px;
     border: 2px solid #222222;
     border-radius: 8px;
     font-size: 30px;
     color:black;
     font-family: 'Lato';
 }

.button2 {
     background-color:#A9CEF4;
     text-align: center;
     height: 50px;
     border: 2px solid #222222;
     border-radius: 8px;
     font-size: 30px;
     color:black;
}

.button3 {
     background-color:  #A9CEF4;
     box-shadow: 1px 1px 12px 0 rgb(189, 208, 216);
     border: 2px solid #222222;
     border-radius: 10px;
     color: black;
     width: 140px;
     height: 40px;
     border: 1.5px solid #222222;
     border-radius: 8px;
     padding-bottom: 45px;
}

.updateBtn {
     float: right;
     background-color:  #A9CEF4;
     padding-bottom: 45px;
     margin-right: 45px;
     margin-top: 10px;
     box-shadow: 1px 1px 12px 0 rgb(189, 208, 216);
     border: 2px solid #222222;
     border-radius: 10px;
     color: black;
     width: 100px;
     height: 40px;
     border: 1.5px solid #222222;
     border-radius: 8px;
}

.facebookLogin
{    
     align-self: center;
}

#buttonSave
{
     font-size: 28px;
}

#submitBtn
{
     font-size: 20px;
     margin-left:10px;
     border-radius: 8px; /* 25px rounded corners */
     border: 1px solid #777777;
}

#refreshBtn{
     box-shadow: 1px 1px 12px 0 rgb(189, 208, 216);
     border-radius: 20px;
     float:right;
     border-radius: 8px;
     margin-right: 55px;
     background-color:#A9CEF4;
     border: 2px solid #222222;
}

.card {
     /* Add shadows to create the "card" effect */
     box-shadow: 1px 1px 12px 0 rgb(189, 208, 216);
     border-radius: 20px; /* 25px rounded corners */
     background-color:    #A9CEF4;
     border-width: 4px;
     min-width: 340px;
     border-right-style: solid;
     border-bottom-style: solid;
}
   
/* On mouse-over, add a deeper shadow */
.card:hover {
     box-shadow: 0 20px 30px 0 rgba(0,0,0,0.4);
}


textarea
{
     border: 2px solid #222222;
     max-width: 355px;
     border-radius: 8px; /* 25px rounded corners */
}

#login
{
     border: 2px solid #222222;
     border-radius: 5px;
}

.grad {
     background-image: linear-gradient(to bottom left, #151f2b, #151f2b);
   }


.card1 {
     color: black;
     /* Add shadows to create the "card" effect */
     box-shadow: 3px 3px 10px 0 rgba(0,0,0,0.4);
     border-radius: 10px; /* 25px rounded corners */
     background-color: #A9CEF4;
     color: black;
     max-width: 340px;
     margin-left: auto;
     margin-right: auto;
     margin-bottom: 8px;
     margin-top: 0px;
}

.card2 {
     color: black;
     /* Add shadows to create the "card" effect */
     box-shadow: 3px 3px 10px 0 rgba(0,0,0,0.4);
     border-radius: 10px; /* 25px rounded corners */
     background-color:  #b3cde0;
     max-width: 300px;
     margin-left: auto;
     margin-right: auto;
     margin-bottom: 8px;
     margin-top: 0px;
}

.card3 {
     color: black;
     /* Add shadows to create the "card" effect */
     box-shadow: 3px 3px 10px 0 rgba(0,0,0,0.4);
     border-radius: 10px; /* 25px rounded corners */
     background-color:  #b3cde0;
     max-width: 300px;
     margin-left: auto;
     margin-right: auto;
     margin-bottom: 8px;
     margin-top: 0px;
}

.card4 {
     color: black;
     /* Add shadows to create the "card" effect */
     box-shadow: 3px 3px 10px 0 rgba(0,0,0,0.4);
     border-radius: 10px; /* 25px rounded corners */
     background-color:  #b3cde0;
     max-width: 300px;
     margin-left: auto;
     margin-right: auto;
}

.addPostSuggestion1
{
     margin-left: 38px;
}

.addPostSuggestion2
{
     margin-left: 137px;
}

#title
{
     border-radius: 10px;
     margin-left: 10px;
}

.dropdown
{
     background-color:  #A9CEF4;
     border: 2px solid #222222;
     border-radius: 5px;
     margin-left: auto;
     margin-right: auto;
     color:black;
}

.rightArrow{
     margin-top: 10px;
}

.dropdown2 {
     background-color:  #A9CEF4;
     box-shadow: 1px 1px 12px 0 rgb(189, 208, 216);
     border: 2px solid #222222;
     border-radius: 10px;
     margin-left: auto;
     margin-right: auto;
     color:black;
     font-family: 'Lato';
     font-size: 20px;
}

#display {
     font-size:20px;
     font-family: 'Lato';
     margin-left: 10px;
     color:white;
}

